* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #080808;
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* =====HEADER===== */

.container {
  background-color: #1b1b1b;
  border-radius: 4px;
  width: 1150px;
  margin: 0 auto;
}

.container--header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 96px 28px;
}

/* =====NAV====== */

.navi__item {
  font-family: "IBM Plex Mono";
  color: #9c9c9c;
  font-size: 14px;
}

.navi__item:not(:last-child) {
  margin-right: 72px;
}

/* =====SOCIAL-LINKS====== */

.social__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__svg {
  width: 30px;
  height: 30px;
  fill: #ffffff;
}

.social__link:not(:last-child) {
  margin-right: 24px;
}

.container--body {
  width: 954px;
  margin: 0 auto;
}

.container__about {
  margin: 80px auto 56px;
  display: flex;
  justify-content: space-around;
}

.about {
  width: 492px;
  align-content: space-around;
}

.name {
  font-family: "Raleway";
  font-size: 44px;
  color: #ffffff;
  margin-bottom: 20px;
}

.info__about {
  font-family: "IBM Plex Mono";
  font-size: 14px;
  line-height: 24px;
  color: #9c9c9c;
  margin-bottom: 32px;
}

.start {
  font-family: "IBM Plex Mono";
  font-size: 16px;
  color: #ffffff;
  background-color: #62ba1b;
  padding: 24px 64px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.container__img {
  height: 350px;
}

.img {
  width: 350px;
  height: 350px;
}

.company__item {
  display: flex;
  margin: 0;
  padding: 0;
}

.company__tittle {
  font-family: "IBM Plex Mono";
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 20px;
}

.company__logos {
  width: 160px;
  height: 60px;
}

.company__list {
  margin-right: 30px;
}

.company__list:last-child {
  margin-right: 0px;
}
