.modal__window {
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: white;
  opacity: 20%;
  overflow-y: auto;
}

.modal__box {
  max-width: 500px;
  padding: 45px;
  background-color: black;
}

.modal__box__title {
  color: white;
}
