.experience {
  &__title {
    @include font(34px, 700, 52px);
    text-align: center;
    color: var(--whiteish);
    margin: 10px 0 24px;
  }

  &__box {
    @include display(flex, space-between);
  }

  &__work {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 24px 40px 24px;
  }

  &__education {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 24px 40px 24px;
  }
}

.work {
  &__title {
    @include font(24px, 500, 18px);
    font-size: 24px;
    font-weight: 500;
    color: var(--whiteish);
    margin-bottom: 40px;
    padding-left: -4px;
  }

  &__link {
    @include display(flex, space-between);
    align-items: center;
    width: 100%;
    height: 20px;
    @include font(14px, 400, 24px);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--greyish);

    &:hover &__span {
      color: var(--greenish);
    }
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__link__span {
    padding-left: 8px;
    padding-right: 10px;
  }

  &__line {
    flex-grow: 1;
    border-bottom: 0.5px dashed var(--whiteish);
    margin: 0 10px;
  }
}

.education {
  &__title {
    @include font(24px, 500, 18px);
    color: var(--whiteish);
    margin-bottom: 40px;
    padding-left: -4px;
  }

  &__link {
    @include display(flex, space-between);
    align-items: center;
    width: 100%;
    height: 20px;
    @include font(14px, 400, 24px);
    line-height: 24px;
    color: var(--greyish);

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &:hover &__span {
      color: var(--greenish);
    }
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__link__span {
    padding-left: 8px;
    padding-right: 10px;
  }

  &__line {
    flex-grow: 1;
    border-bottom: 0.5px dashed var(--whiteish);
    margin: 0 10px;
  }
}
