.hero {
  &__info {
    align-content: center;
    width: 492px;
  }

  &__title {
    font-family: "Relawey";
    font-size: 44px;
    font-weight: 700;
    color: var(--whiteish);
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--greyish);
    margin-bottom: 32px;
  }

  &__img {
    width: 350px;
    height: 350px;
    border-radius: 50px;
  }
}
