.hero {
  &__info {
    align-content: center;
    width: 492px;
  }

  &__title {
    font-family: var(--secodary-font);
    @include font(44px, 700, 52px);
    font-size: 44px;
    font-weight: 700;
    color: var(--whiteish);
    margin-bottom: 20px;
  }

  &__text {
    @include font(14px, 400, 24px);
    line-height: 24px;
    color: var(--greyish);
    margin-bottom: 32px;
  }

  &__img {
    width: 350px;
    height: 350px;
    border-radius: 50px;
  }
}
