.modal {
	&__backdrop {
		position: fixed;
		top: 0;
		@include display(flex, center);
		align-items: center;
		width: 100vw;
		height: 100vh;
		z-index: 100;
		overflow-y: auto;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s, visibility 0.2s;
		background-color: rgba(0, 0, 0, 0.2);
	}

	&__window {
		position: relative;
		width: 508px;
		padding: 24px 40px;
		background-color: #1b1b1b;
		border-radius: 20px;
		transform: scale(0);
		transition: transform ease-in-out 0.2s;
	}

	&__title {
		font-family: var(--secondary-font);
		@include font(34px, 500, 32px);
		color: var(--whiteish);
		text-align: center;
		margin-bottom: 8px;
	}

	&__cross__svg {
		width: 20px;
		height: 20px;
	}

	&__form {
		display: flex;
		flex-direction: column;
	}

	&__field {
		display: flex;
		flex-direction: column;
		color: var(--greyish);

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__window__subtille {
		font-family: monospace;
		@include font(12px, 500, 18px);
		padding-left: 8px;
		padding-bottom: 4px;
	}

	&__field__text {
		background-color: var(--whiteish);
		border-radius: 10px;
		border: none;
		outline: none;
		padding: 10px 12px 10px;

		&:focus {
			border: none;
			outline: none;
		}

		&::placeholder {
			font-family: monospace;
			@include font(14px, 400, 18px);
			border: none;
		}
	}

	&__field__message {
		resize: none;
		overflow: hidden;
		border: none;
		outline: none;
		border-radius: 10px;
		padding-left: 12px;
		padding-top: 12px;
		min-height: 160px;
		overflow-y: auto;

		&::placeholder {
			border: none;
			outline: none;
			font-family: monospace;
			@include font(14px, 400, 18px);
			color: var(--greyish);
		}
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
	}

	&__buttons__submit__svg {
		width: 5px;
		height: 10px;
	}

	.is-open &__window {
		transform: scale(1);
	}
}
