.partnerships {
  &__title {
    @include font(14px, 500, 18px);
    color: var(--whiteish);
    text-align: center;
    margin-bottom: 36px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 40px;
  }

  &__items {
    margin-bottom: 40px;
  }

  &__items:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  &__logos {
    border: 1px solid var(--greyish);
    border-radius: 4px;

    &:hover {
      border: 1px solid var(--greenish);
    }
  }

  // &__items {
  //   margin-right: 30px;

  //   &:last-child {
  //     margin-right: 0px;
  //   }
  // }
}

// .partnerships {
//   &__list {
//     display: flex;
//     margin: 0;
//     padding: 0;
//   }

//   &__title {
//     @include font(14px, 500, 18px);
//     color: var(--whiteish);
//     margin-bottom: 20px;
//   }

//   &__logos {
//     width: 160px;
//     height: 60px;
//     border: 1px solid var(--greyish);
//     border-radius: 4px;

//     &:hover {
//       border: 1px solid var(--greenish);
//     }
//   }

//   &__items {
//     margin-right: 30px;

//     &:last-child {
//       margin-right: 0px;
//     }
//   }
// }
