.partnerships__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.partnerships__title {
  font-size: 14px;
  color: var(--whitelish);
  margin-bottom: 20px;
}

.partnerships__logos {
  width: 160px;
  height: 60px;
  border: 1px solid var(--greylish);
  border-radius: 4px;

  &:hover {
    border: 1px solid var(--greenish);
  }
}

.partnerships__items {
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}
