.project {
  &__title {
    font-family: var(--secondary-fon);
    @include display(flex, center);
    @include font(34px, 500, 52px);
    color: var(--whiteish);
    margin-bottom: 24px;
  }

  &__text {
    @include font(14px, 400, 24px);
    color: var(--greyish);
    text-align: center;
    width: 570px;
    margin: 0 auto;
    margin-bottom: 28px;
  }

  &__info {
    position: relative;
    @include display(flex, space-between);
    align-items: center;
  }

  &__list {
    @include display(flex, space-between);
    width: 760px;
    margin: 0 20px;
  }

  &__scroll {
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 40px;
    height: 40px;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__scroll__svg {
    width: 40px;
    height: 40px;
  }

  &__card {
    border: 2px solid var(--greyish);
    border-radius: 12px;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__card__info {
    padding: 16px 0 12px;
    text-align: center;
  }

  &__card__title {
    @include display(flex, center);
    @include font(20px, 500, 18px);
    color: var(--whiteish);
    margin-bottom: 16px;
  }

  &__card__link {
    @include font(14px, 400, 24px);
    color: var(--whiteish);
    background-color: var(--greenish);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 140px;
    padding: 10px 14px;

    &:hover {
      transform: scale(1.05);
    }
  }
}
