.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;

  &--header {
    @include display(flex, space-between);
    align-items: center;
  }

  &--hero {
    @include display(flex, space-between);
    padding-top: 152px;
  }

  &--partnerships {
    padding-top: 56px;
  }

  &--experience {
    display: flex;
    flex-direction: column;
    padding-top: 110px;
  }

  &--project {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
  }
}
